<div class="space"></div>

<div class="outer">
  <div class="product">
    <div class="img-con">
      <img src="../../../assets/images/age-catogary/featured/f1.jpg" alt="" class="img1">
    </div>
    <div class="heading">festive</div>
    <div class="heading2">Season collection</div>
    <div class="shopnow"><a href="" class="shopnow2">SHOP NOW</a> <hr style="width: 22%; border: 1px solid #3150a2;"></div>
  </div>
  <div class="product">
    <div class="img-con">
      <img src="../../../assets/images/age-catogary/featured/f2.jpg" alt=""  class="img2">
    </div>
    <div class="heading">High Street</div>
    <div class="heading2">Collection</div>
    <div class="shopnow"><a href="" class="shopnow2">SHOP NOW</a> <hr style="width: 22%; border: 1px solid #3150a2;margin-left: auto;margin-right: auto;"></div>
  </div>
</div>


<div class="line" style="
/* padding: 60px; */
padding-top: 60px;
">
  <hr class="blue-line">
</div>
