<div class="line">
  <hr class="blue-line">
</div>

<div class="heading">Shop By Age</div>
<div class="outer">
  <div class="item" *ngFor="let a of datalist">
    <div class="img-con">
      <img src="{{a.imageUrl}}" alt="" class="baby-img">
    </div>
    <div class="title">{{a.name}}</div>
  <div class="button">
    <a href=""><img src="../../../assets/images/age-catogary/right-arrow (1).png" class="img-button" alt=""></a>
  </div>
  </div>
</div>


<div class="line" style="
/* padding: 60px; */
padding-top: 60px;
">
  <hr class="blue-line">
</div>
