<app-header></app-header>
<div class="sign-in">
    <div class="login-section">
        <div class="container">
            <div class="vs">
                <img _ngcontent-ebs-c99="" src="https://cdn.lilbrats.in/Others/maisonette-sign-in.png" style="width: 100px; height: 100px;">
            </div>
            <div class="login">Log in</div>
            <form  novalidate="" class="ng-untouched ng-pristine ng-invalid ng-star-inserted">
                <div _ngcontent-ebs-c99="" class="vs" style="position: relative;">
                    <input type="text" knifeonlynumbers="" knifenospaces="" knifenocopypaste="" autocomplete="no" onkeypress="if(this.value.length==10) return false;"
                     placeholder="Enter your Mobile Number" formcontrolname="userPhoneNo" class="login-input ng-untouched ng-pristine ng-invalid" style="margin-bottom: 1.5em; padding-left: 50px;" name="phoneNumber">
                    <span _ngcontent-ebs-c99="" class="login-country-code"> +91 </span>
                    <!---->
                    <div _ngcontent-ebs-c99="" class="vs">
                        <button _ngcontent-ebs-c99="" type="submit" class="btn-checkout btn-login">
                            <span _ngcontent-ebs-c99="">login with otp <!----></span>
                        </button>
                    </div>
                </div>
            </form>
            <div class="or">or</div>
            <div _ngcontent-ebs-c99="" class="vs ng-star-inserted">
                <button _ngcontent-ebs-c99="" class="btn-checkout btn-signup">create new account</button>
            </div>
        </div>
    </div>


<app-footer></app-footer>
