<div class="header">
    <div class="head1">
        <div class="head2">
            
        </div>
        <div class="head3">
            <div class="ccc">
            <img _ngcontent-nbb-c66="" src="https://cdn.lilbrats.in/Others/logo1.png" class="logo" style="width: 150px; height: 90px;">
            <div _ngcontent-nbb-c66="" style="position: relative;">
                <div _ngcontent-nbb-c66="" class="input-group product-search-input">
                    <input _ngcontent-nbb-c66="" type="text" placeholder="What are you looking for ?" aria-label="Recipient's username" aria-describedby="basic-addon2" class="form-control search-input ng-untouched ng-pristine ng-valid">
                    <div _ngcontent-nbb-c66="" class="input-group-append search-input-btn">
                        <span _ngcontent-nbb-c66="" id="basic-addon2" class="input-group-text logo-btn"style="height:40px">
                         <i class='fas fa-search'></i>
                            <!----><!---->
                        </span>
                    </div>
                </div>
                <!---->
            </div>
            </div>
        </div>
        <div class="head4">
            <a class="nav-link" routerLink="login" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" style="font-size: 20px;">Sign-in</a>

        </div>
        
</div>


</div>
<div class="sub-head">
    <div class="s1">
        <div class="s2">
            <a><h1>DISCOVERS</h1></a>

        </div>
        <div class="s2">
           <a><h1>FRESHLY BREWED</h1></a>

        </div>
        <div class="s2">
            <a href=""><h1>REVIEWS</h1></a>

        </div>
        <div class="s2">
            <a><h1>PARTNER WITH US</h1></a>

        </div>

    </div>